<html>

<body>
    <nav class="navbar navbar-expand-lg bg-dark mb-3">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">ATN Shop</a>
        </div>
    </nav>
    <div>
        <div class="container text-center:mt-3 mb-3">
            <form action="/shop/checkout" method="post">
                <table class="table table-success" border="1">
                    <tr>
                        <th colspan="5">
                            <h1 class="text text-primary text-center">CART LIST</h1>
                        </th>
                    </tr>
                    <tr>
                        <th>Model</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <input type="hidden" name="product_id" value="{{product._id}}">
                        <td>{{product.model}}</td>
                        <th><img src="/images/{{product.image}}" alt="" width="160" height="200"></th>
                        <td>${{price}}</td>
                        <td><input type="number" name="quantity" value="{{quantity}}" readonly></td>
                        <td>${{total}}</td>
                    </tr>


                </table>
                <input type="submit" class="btn btn-success" value="Checkout">
            </form>
        </div>
    </div>
</body>

</html>