<html>

<head>
    <title>doll List</title>
</head>

<body>

    <div class="row">
        <div class="col-md-2 bg-dark">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/doll">Dolls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/figure">Figures</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">

      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="/images/admin.jpg" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Admin: Nguyen Ba Thanh</h5>

          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Nguyen Ba Thanh</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">nbthanh711@gmail.com</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">0399917962</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row">

          <div class="col-md-12">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Select categories</span>
                </p>
                <table class="table table-striped">
                  <tr>
                    <th>Category List</th>
                    <th>Action</th>
                    </tr>

                    <tr>
                      <td>Figure</td>
                      <td><a href="/figure" class="btn btn-success">Manage</a></td>
                      </tr>
                    <tr>
                      <td>Doll</td>
                      <td><a href="/doll" class="btn btn-success">Manage</a></td>
                    </tr>

                  
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">

          <div class="col-md-12">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">Ordered</span>
                                </p>
                                <table class="table table-striped">

                                        <tr>
                                            <th>User ID</th>
                                            <th>Product ID</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>

                                        {{#each cartItems}}
                                        <tr>
                                            <td>{{userId}}</td>
                                            <td>{{product_id}}</td>
                                            <td>{{quantity}}</td>
                                            <td>{{price}}</td>
                                            <td>{{total}}</td>
                                            <td><a class="btn btn-danger" href="/users/admin/delete/{{ _id }}"
                            onclick="return confirm('Are you sure to delete this product?')">Delete</a></td>
                                        </tr>
                                        {{/each}}

                                </table>
                            </div>
                        </div>
                    </div>
        </div>
      </div>
    </div>
  </div>
</section>
        </div>
    </div>
</body>

</html>